@charset "UTF-8";

/* Q10-1〜Q10-4のflex*/
.Q10-1,.Q10-2,.Q10-3,.Q10-4{
  display: flex;
  justify-content: center;
}

/* Q10-1〜Q10-4のボタンのスタイル */
.button{
  margin-right: 30px;
  padding: 0 15px;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
}

.button:hover{
  cursor: pointer;
}

.button_red{
  color: #fff;
  background: #fd0f0fd9;
}
.button_blue{
  color: #fff;
  background: #170ffdd9;
}

.button_green{
  color: #000;
  background: #0ffd0fd9;
  margin-right: 0;
}

/* Q10-2のbox-shadow */
.red_shadow{
  box-shadow: 0 5px rgba( 63, 5, 5, 0.851);
}

.blue_shadow{
  box-shadow: 0 5px rgba(5, 13, 63, 0.851);
}

.green_shadow{
  box-shadow: 0 5px rgba(5, 63, 5, 0.851);
}

/* .Q10-3押した感触の実装 */
.push:active{
  box-shadow: none;
  transform: translateY(5px);
}

/* Q10-4　ホバーで変色するボタン */
.change_bg{
  color: #67c5ff;
  border: 4px double #67c5ff;
  transition: 0.5s;
}
.change_bg:hover{
  background: #fffbef;
}

/* Q10-4ホバーで枠線が変化するボタン */
.change_border{
  color: #67c5ff;
  border: 4px dotted #75caff;
}
.change_border:hover{
  border: 4px dashed #67c5ff;
}

/* Q10-4ホバーで文字と背景が変色するボタン */
.change_color_bg{
  color: #0079a5f8;
  background: #d0edfff8;
  margin-right: 0;
  border: 4px dashed #67c5ff;
  transition: 0.5s;
}
.change_color_bg:hover{
  color: #67c5ff;
  background: #ffffff;
}




